@font-face {
    font-family: 'Inter';
    font-weight: 100;
    font-style: normal;
    src: url('../../shared/assets/fonts/Inter-Thin.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'SBSansDisplay';
    font-weight: 300;
    font-style: normal;
    src: url('../../shared/assets/fonts/Inter-Light.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: url('../../shared/assets/fonts/Inter-Regular.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    src: url('../../shared/assets/fonts/Inter-SemiBold.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    src: url('../../shared/assets/fonts/Inter-Bold.ttf') format('ttf');
    font-display: swap;
}
