:root {
    --font-primery: 'SBSansDisplay', 'MuseoSansCyrl', 'Arial', sans-serif;
    --color-white: #ffffff;
    --color-black: #30373c;
    --color-gray2: #657179;
    --color-gray4: #8a959d;
    --color-green: #0c9c0c;
    --color-green2: #15b015;
    --color-gray3: #c0cbd3;
    --color-gray5: #d5dfe6;
    --color-gray6: #f2f5f8;
    --color-gray7: #f2f5f8;
    --color-gray8: #e8eef2;
    --color-red-1: #e64646;
    --color-rgba255: rgba(255, 255, 255, 0.3);
    --color-gradientGreen: linear-gradient(104deg, #17d317 0%, #14cc98 100%);
    --color-gradientGreen2: linear-gradient(162deg, #f9ee2f 0%, #f0e405 9.9%, #17d317 37.48%, #17d317 77.23%);
    --color-gradientGreen3: linear-gradient(48deg, #3ce73c 21.66%, #4ad6fc 83.62%);
}
