@import '@/app/globalStyles/config/mixin.scss';

.PostCard {
    display: block;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--s-accent-c);
}

.buttons {
    display: flex;
    align-items: center;
    gap: 4px;
}
