@import '@/app/globalStyles/config/mixin.scss';

.LoginPage {
    display: block;
}

.formBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 800px;
    transform: translate(-50%, -50%);
}

.title {
    margin-bottom: 24px;
}
